numpy==1.23.0
torch
torchvision
pandas
seaborn
pyrender
ipdb
joblib
tqdm
opencv-python
yacs
tabulate
termcolor
git+https://github.com/hassony2/chumpy
mediapipe
func_timeout
ultralytics
gdown
setuptools
tensorboard
pytorch-lightning
spconv-cu120